#main-block {
    width: 750px;
    height: 300px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    top: 100px;
}

#main-block>button {
    width: 10%;
    height: 100%;
    background-color: #fff;
    border: 3px solid #232323;
    font-size: 70px;
    color: #232323;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: 1px 4px 17px #000;
    z-index: 10;
}

#main-block>button:hover {
    background-color: #232323;
    color: #fff;
}

#blockSlider {
    width: 80%;
    height: 95%;
    background-color: #ffffff;
    overflow: hidden;
    border-top: 3px solid #232323;
    border-bottom: 3px solid #232323;
    box-shadow: 0px 4px 19px #000;
}

#slider {
    position: relative;
    transition: all 1s;
    left: 0px;
}

.img-block {
    width: 600px;
    height: 300px;
    float: left;
}

.img-block>img {
	width: 100%;
	padding: 0px 5px;
	box-sizing: border-box;
}
